main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    /* width: 870px; */

    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;

}

p {
    color: #FFFFFF;

}

.flexible-container {
    display: flex;
    background-color: #161616;
    height: 646px;
    width: 1321px;
    border-radius: 30px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.info {
    width: 531px;
    height: 424px;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 116px;

}

.half-width img {
    width: 581px;
    height: 613px;
    margin-top: 29px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}