@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    /* width: 870px; */

    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;

}

p {
    color: #FFFFFF;

}

.flexible-container {
    display: flex;
    background-color: #161616;
    height: 646px;
    width: 1321px;
    border-radius: 30px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.info {
    width: 531px;
    height: 424px;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-left: 116px;

}

.half-width img {
    width: 581px;
    height: 613px;
    margin-top: 29px;
    padding-right: 0px;
    margin-right: 0px;
    padding-left: 10%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.footer {
    height: 444px;
    width: 100%;
    background-color: #161616;
}

.foot {
    color: #FFFFFF;
    padding-top: 133px;
    display: flex;
    justify-content: center;
}

.footer hr {
    margin-right: 139px;
    margin-left: 139px;
}

nav ul {
    margin-right: 139px;
    margin-left: 351px;
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}

nav li a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 20px;
}

.button {
    height: 312px;
    width: 312px;
    background-color: #161616;

}

.button a {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.butt {
    padding-top: 26px;
}

.blog-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(243, 236, 235), rgb(255, 254, 254));
    color: rgb(10, 0, 0);
    width: 150px;
    margin-top: 26PX;
    margin-left: 25%;
    padding-top: 30px;

}

.b-button {
    background-image: linear-gradient(tomato, red);
    color: white;
}

.time {
    height: 312px;
    width: 242px;
    margin-left: 30px;

}

.blog {
    display: flex;
    margin-top: 100px;

}

.teams {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.time h2 {
    text-align: center;
}

.time h4 {
    text-align: center;
    color: #9F9F9F;
    font-size: 16 px;
}

.times {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-left: 30px;
}

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .flexible-container {
        height: 850px;
        width: 600px;
        flex-direction: column;
    }

    .half-width img {
        width: 250px;
        height: 320px;
        margin-bottom: 100px;
    }

    .blog {
        flex-direction: column;

    }

    .blog-button {
        width: 100px;
    }

    .button {
        display: flex;
        width: 80%;
        background-color: #FFFFFF;
    }

    .times {
        /* background-color: red; */
        grid-template-columns: repeat(1, 1fr);
    }



    nav ul {
        flex-direction: column;
        margin-left: 0px;
    }

}

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
    }

}